/**
 * @import cxa/core
 */

$component: #{$css-prefix}textfield;

$textfield-font-size: rem(14px);
$textfield-font-size-dense: rem(13px);
$textfield-height: rem(36px);
$textfield-height-dense: rem(32px);
$textfield-border-width: rem(1px);

// $textfield-min-width: rem(88px);
$textfield-radius: $global-radius;
$textfield-disabled-foreground: $disabled-foreground;
$textfield-disabled-background: $disabled-background;
$textfield-border-color: $input-border;
$textfield-error-color: $error-foreground;
$textfield-active-color: $primary-color;
$textfield-multi-height: rem(52px);

.#{$component} {
	display: block;
	font-size: $textfield-font-size;
	height: $textfield-height;
	width: 100%;

	// line-height: calc(#{$textfield-height} - #{$textfield-border-width});
	border-radius: $textfield-radius;
	border: 0 solid transparent;
	padding: $spacing-unit-tiny 0;
	overflow: hidden;
	background: transparent;
	vertical-align: top;

	&:focus {
		outline: none;
	}

	&:disabled {
		border-color: "#cacaca";
		color: $textfield-disabled-foreground;
		background: $textfield-disabled-background;
		cursor: default;
	}

	&--underline {
		border-radius: 0;
		border-bottom-width: $textfield-border-width;
		border-bottom-color: $textfield-border-color;

		&:not(:disabled):not(:read-only) {
			&:focus {
				box-shadow: 0 1px 0 0 $textfield-active-color;
				border-bottom-color: $textfield-active-color;
			}
		}

		&:disabled {
			border-bottom-color: $disabled-foreground;
		}
	}

	&--underline#{&}--error {
		&,
		&:focus {
			box-shadow: 0 1px 0 0 $textfield-error-color;
			border-bottom-color: $textfield-error-color;
		}
	}

	&--multi {
		height: auto;
		min-height: $textfield-multi-height;
	}

	&--boxed {
		background-color: white;
		border-width: $textfield-border-width;
		border-color: $textfield-border-color;
		padding: $spacing-unit-tiny;

		&:not(:disabled):not(:read-only):focus {
			border-color: $textfield-active-color;
			box-shadow: 0 0 0 rem(1px) $textfield-active-color;
		}

		&:disabled {
			border-color: $disabled-foreground;
		}
	}

	&--boxed#{&}--error {
		&,
		&:focus {
			border-color: $textfield-error-color;
			box-shadow: 0 0 0 rem(1px) $textfield-error-color;
		}
	}

	&:read-only,
	&--readonly {
		cursor: default;
		border-color: $textfield-border-color;
		background: colour(neutral, lightish-grey);
	}
}
