/**
 * The foundamental variables for CXA design
 */

//==============================================================================
// 
// Constants
//
//==============================================================================

$measure: 24px;
$form-max-width: 420px;
$css-prefix: "" !default;

$inuit-global-font-size: 16px !default;
$inuit-global-line-height: 24px !default;
$inuit-wrapper-width: 1200px !default;
