/**
 * The header block
 *
 * @author Jack <jack.fu@cxagroup.com>
 * @version 0.0.1
 * @date Wed Nov 15 18:06:40 2017
 * @import cxa/core
 *
 */

.header-wrapper {
  @include card-shadow();
  width: 100%;
  position: relative;
  z-index: 10;
  background: colour(neutral, pure-white);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $spacing-unit-regular 0;
  position: relative;

  .button {
    text-transform: inherit;
    color: inherit;
  }

}

.header__left {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.header__logo {
  margin-right: $spacing-unit;

  svg, img {
    display: inline-block;
    vertical-align: middle;
    height: 3em;
  }
}

.header__nav {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.header__subnav {
  position: relative;
}

.header__nav-item {
  text-decoration: none;
  font-size: rem(15px);
  color: $body-foreground;

  & + &,
  & + .header__subnav,
  .header__subnav + & {
    margin-left: $spacing-unit;
  }

  svg {
    display: inline-block;
    vertical-align: middle;
  }
}

.header__subnav-links {
  @include card-shadow();

  position: absolute;
  right: 0;
  margin-top: $spacing-unit-small;
  display: flex;
  flex-direction: column;
  background-color: colour(neutral, pure-white);

  .header__nav-item {
    margin: 0;
    padding: $spacing-unit-small $spacing-unit;
    white-space: nowrap;
  }
}

.navbar {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0;
  justify-content: center;
  font-family: $proxima-nova;

  .navlink {
    text-decoration: none;
    padding: $spacing-unit-tiny;
    color: $body-foreground;
    white-space: nowrap;
    font-weight: bold;
    position: relative;

    svg {
      display: inline-block;
      vertical-align: middle;
      fill: currentColor;
    }

    + .navlink {
      margin-left: $spacing-unit;
    }

    &--active {
      &::after {
        content: "";
        height: 2px;
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        background-color: $primary-color;
      }
    }
  }
}

.nav-secondary-wrapper {

}

.nav-secondary {
  margin-left: -$spacing-unit-tiny;
  margin-right: -$spacing-unit-tiny;
  overflow: visible;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  border-top: 1px solid rgba(0, 0 ,0 , 0.05);
  padding: $spacing-unit-tiny 0;

  .navlink {
    font-size: rem(15px);
    line-height: 2;
    color: colour(neutral, mid-grey);

    + .navlink {
      margin-left: $spacing-unit;
    }

    &--active {
      color: $primary-color;
    }
  }
}

.cxa-header {
  box-shadow: $standard-shadow;
  background-color: colour(neutral, pure-white);

  &__wrapper {
    display: flex;
    max-width: $break-mocha;
    margin: 0 auto;
  }

  &__title {
    order: 2;
    flex-basis: 50%;
    margin: 0;
    padding: 14px 0;
    font-size: 1em;
    line-height: 1;
    height: 96px;

    @media screen and (min-width: $break-espresso) {
      order: 1;
      padding: $measure / 2 $measure / 2 $measure / 2 $measure;
      flex-basis: 25%;
      height: 96px;
    }

    svg {
      position: absolute;
      top: 0;
      height: 72px;
      width: 206px;
      max-width: 100%;
    }

    img {
      position: absolute;
      top: 0;
      max-width: 100%;
      max-height: 100%;
    }

    a {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: left;
      padding-top: 72px;
    }
  }

  &__nav {
    font-family: $proxima-nova-semibold;
    padding: $measure / 4 * 3 $measure / 2 0;

    @media screen and (min-width: $break-espresso) {
      padding: 35px $measure / 2 0;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    a {
      display: block;
      color: colour(neutral, dark-grey);
    }

    li {
      display: inline-block;
      vertical-align: middle;

      + li {
        margin-left: $measure;
      }
    }

    .overflow-nav__list {
      li + li {
        margin-left: 0;
      }
    }

    &--primary {
      flex-grow: 1;
      order: 1;
      flex-basis: 25%;

      @media screen and (min-width: $break-espresso) {
        order: 2;
        flex-basis: 50%;
        text-align: center;
      }

      li {
        border-bottom: 2px solid transparent;
        transition: border ease-in-out 175ms;

        &:hover {
          border-bottom-color: colour(cxa, salem);
        }
      }

      a:hover,
      a:focus {
        text-decoration: none;
      }

      .cxa-header__nav-item--active {
        border-bottom-color: colour(cxa, salem);
      }
    }

    &--secondary {
      order: 3;
      flex-basis: 25%;
      max-width: 25%;

      a {
        border-bottom: 2px solid transparent;
        transition: border ease-in-out 175ms;

        &:hover,
        &:focus {
          border-bottom-color: inherit;
        }
      }

      @media screen and (min-width: $break-espresso) {
        padding-top: 25px;

        ul {
          text-align: right;
        }
      }
    }

    &--iconic {
      @media screen and (min-width: $break-espresso) {
        padding-top: 35px;
      }
    }
  }

  &__sub-nav {
    background-color: colour(neutral, lighter-grey);

    ul {
      max-width: $break-mocha;
      margin: 0 auto;
      padding: 0;
      list-style: none;
      text-align: center;
    }

    li {
      display: inline-block;
      padding: $measure / 2 0;

      + li {
        margin-left: $measure;
      }
    }

    a {
      color: colour(neutral, dark-grey);
      font-family: $proxima-nova;
      font-size: 15px;

      &:hover {
        color: colour(cxa, salem);
      }
    }

    .cxa-header__nav-item--active a {
      color: colour(cxa, salem);
    }
  }

  &__nav-item {
    color: colour(neutral, dark-grey);
    border-bottom-color: colour(neutral, dark-grey);

    &:hover span,
    &:active span {
      color: colour(neutral, dark-grey);
    }

    &--account {
      white-space: nowrap;
    }

    [aria-hidden="true"] {
      display: none;
    }
  }
}

.cxa-icon {
  display: inline-block;
  line-height: 1;
  text-align: center;

  .button & {
    display: inline-block;

    &[aria-hidden="true"] {
      display: none;
    }

    span {
      border-bottom: 0;
    }
  }

  svg {
    margin: 0;
  }

  span {
    display: block;
    font-size: 11px;
  }
}

.cxa-drop-menu {
  position: relative;

  &__list {
    position: absolute;
    right: 0;
    background-color: colour(neutral, pure-white);
    font-size: 14px;
    white-space: nowrap;
    box-shadow: $standard-shadow;

    li {
      display: block;

      + li {
        margin-left: 0;
      }
    }

    a {
      padding: 0.25em 0.5em;

      &:hover,
      &:active {
        color: colour(cxa, salem);
      }
    }
  }
}

// No-flex
// Support for non-flexbox browsers. Remove this once IE10 support is no longer required.
// Fall back to float
.no-flexbox {
  .cxa-header {
    &__wrapper {
      @include clearfix();

      display: block;
    }

    &__title {
      float: left;
      width: 25%;
    }

    &__nav {
      float: left;

      &--primary {
        width: 50%;
      }

      &--secondary {
        width: 25%;
      }
    }
  }
}

// Overflow nav
// Variation of Priority Plus

.menu-overflow__container {
  overflow: hidden;
}

.overflow-nav {
  position: relative;

  [aria-hidden="true"] {
    display: none;
  }

  .overflow-nav__indicator {
    display: none;

    &--active {
      display: inline-block;
    }

    &--compact {
      margin-left: 0;
      border-bottom: 0;
    }
  }

  .overflow-nav__button--active {
    border: 1px solid;
    padding: 0.25em 0.5em;
    font-size: 14px;

    @media screen and (min-width: $break-espresso) {
      padding: 15px;
    }
  }
}

.overflow-nav__list {
  display: none;
  white-space: nowrap;

  .overflow-nav__indicator--open & {
    z-index: 10;
    display: block;
    position: absolute;
    left: 0;
    background: colour(neutral, pure-white);
    box-shadow: $standard-shadow;
    column-count: 2;
    width: 90vw;

    @media screen and (min-width: $break-espresso) {
      left: auto;
      column-count: 1;
      width: auto;
      min-width: 10em;
    }
  }

  > li {
    display: block;

  }

  a {
    padding: 10px 15px;
  }
}

.overflow-nav__indicator--active {
  > a {
//    @include header-nav-main-active-state();
  }
}

// Page navigation

.cxa-page-nav {
  ul {
    list-style: none;
    margin: 0 0 $measure;
    padding: 0;
    text-align: center;
  }

  li {
    display: inline-block;

    + li {
      margin-left: $measure;
    }
  }

  &__item--active {
    a {
      color: colour(neutral, dark-grey);
    }
  }
}

// cart
.cart {
  background-color: colour(neutral, dark-grey);
  color: colour(neutral, pure-white);
  padding: 0;

  header {
    position: relative;
    padding: $measure $measure $measure * 1.5;
    background-color: colour(cxa, light-disco);

    &::after {
      position: absolute;
      bottom: -$measure / 2;
      left: 0;
      width: 100%;
      content: "";
      border-top: $measure solid colour(cxa, light-disco);
      transform: skewY(-2.5deg);
    }
  }

  section {
    padding: 0 $measure;
  }

  .cart__total {
    position: relative;
    background-color: colour(neutral, dark-grey);
    margin: -$measure $measure 0;
    padding: $measure / 2;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

    h4 {
      font-size: 16px;
      font-family: $proxima-nova-light;
      margin: 0;
    }

    .button {
      color: colour(neutral, pure-white);

      &:hover,
      &:active,
      &:focus {
        span {
          color: colour(cxa, sushi);
        }
      }
    }
  }

  &__balance {
    color: colour(highlight, light-amber);
    font-size: 28px;
    margin-bottom: 0.5em;
  }

  &__statement {
    text-align: right;
    font-size: 14px;
    margin: 0;
  }

  &__usage {
    h4 {
      font-size: 16px;
    }

    p {
      font-size: 14px;
    }
  }

  &__element {
    display: flex;
    background-color: colour(neutral, dark-grey);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: $measure / 2;
    padding: $measure / 4;

    > * {
      margin: 0;
      font-size: 14px;
    }

    h5 {
      flex-grow: 1;
    }

    p {
      flex-align: right;
    }
  }

  footer {
    padding: 0 $measure $measure;
  }
}

// Payment

.payment {
  &__logo {
    float: left;
    margin-right: 1em;
  }

  &__price {
    width: 8em;
  }
}

// Product

.product {
  &__illustration {
    float: right;
    margin: 0 0 $measure / 2 $measure / 2;
  }

  &__provider img {
    max-width: $measure * 2;
    height: auto;
  }

  &__price {
    @include clearfix();
  }
}

// hacky questionnaire formatting
// need to refactor the form fields to fix this better

.questionnaire {
  .radio.field__control {
    display: inline-block;
    margin-right: 2em;
  }

  table {
    .field {
      margin: 0;
    }

    .radio.field__control {
      margin: 0;
    }
  }

  .field {
    display: inline-block;
    margin-bottom: 0;
  }
}

.cxa-questionnaire__figure {
  figcaption {
    font-size: 12px;
  }
}

.apl-questionnaire__grouped {
  .cxa-grid__item--three {
    grid-column-end: span 2;
  }

  .textfield {
    width: auto;
  }
}

.apl-form__range {
  display: inline-block;
  padding: 0.125em 0.25em 0;
  min-width: 1.25em;
  line-height: 1;
  text-align: center;
  vertical-align: top;
}

// Forms

.form--search {
  display: flex;

  p:first-child {
    flex-grow: 1;
    margin-right: 0.5em;
  }
}

// Wellness shop

.apl-shop {
  &__wrapper {
    .grid__item--six {
      @media screen and (min-width: $break-espresso) {
        grid-column-end: span 4;
      }

      @media screen and (min-width: $break-cafe-creme) {
        grid-column-end: span 6;
      }
    }
  }

  &__filter-box {
    @media screen and (min-width: $break-espresso) {
      grid-column-end: span 6;
    }

    @media screen and (min-width: $break-cafe-creme) {
      grid-column-end: span 3;
    }
  }
}

// Third party Headroom
// https://kyleamathews.github.io/react-headroom/

.headroom {
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.headroom--unfixed {
  position: relative;
  transform: translateY(0);
}

.headroom--scrolled {
  transition: transform 1000ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
}

.headroom--unpinned {
  position: fixed;
  transform: translateY(-100%);
}

.headroom--pinned {
  position: fixed;
  transform: translateY(0%);
}

// Work in progress header

.cxa-h-box {
  display: flex;
  min-height: 70px;
  box-shadow: 0 0 4px 0 colour(neutral, mid-grey);
}

.cxa-h-branding {
  h1 {
    min-width: 240px;
    margin: 15px 50px;
    line-height: 0;
  }
}

.cxa-h-nav-main {
  flex-grow: 1;
  font-family: $proxima-nova-semibold;

  ul {
    margin: 25px 0 20px;
    padding: 0;
  }

  li {
    display: inline-block;
  }

  a {
    display: inline-block;
    padding: 3px 0;
    margin: 0 20px;
    text-decoration: none;
    color: colour(neutral, dark-grey);
    transition: border-bottom 175ms ease-in-out;
    border-bottom: 2px solid colour(neutral, pure-white);
    white-space: nowrap;

    &:hover,
    &:active,
    &:focus {
      border-bottom-color: colour(cxa, salem);
    }
  }
}

// Search/Filter

.cxa-c-form--search {
  input[type="submit"] {
    margin-left: 1em;
  }
}

.search__filters {
  margin: 0;
  padding: 0;
  font-size: 14px;

  li {
    display: inline-block;
    padding: 0 1em 0 0;

    + li {
      padding-left: 1em;
      border-left: 1px solid colour(neutral, mid-grey);
    }
  }

  &--secondary {
    font-size: 14px;

    h4 {
      margin-top: 0;
    }

    input[type="checkbox"] {
      margin: 0 0.25em 0 0;
    }

    label {
      margin-bottom: 0.25em;
    }
  }
}

// Apollo custom
// .apl-
// Screening legend
.apl-legend {
  ul {
    list-style: none;
    padding: 0;
    margin-left: 0;
  }

  li {
    display: inline-block;
    padding: 0 $measure;
  }
}

@mixin risk-marker($colour) {
  position: absolute;
  left: 0;
  width: 1em;
  height: 1em;
  content: "";
  border-radius: 50%;
  background: $colour;
}

.apl-legend__risk {
  position: relative;

  &--high::before {
    @include risk-marker(colour(highlight, red));
  }

  &--moderate::before {
    @include risk-marker(colour(highlight, amber));
  }

  &--low::before {
    @include risk-marker(colour(cxa, sushi));
  }
}


.apl-marker__screening-group {
  margin-bottom: 1em;
}

.apl-marker {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: $measure / 2;

  > * {
    border: 1px solid colour(neutral, darkish-grey);
    padding: $measure / 4 $measure / 2;
    background: colour(neutral, ultra-light-grey);

    + * {
      border-left: 0;
    }
  }
}

.apl-marker__description {
  flex-basis: 70%;
  max-width: 70%;//explicit max-width for IE11 see https://github.com/philipwalton/flexbugs/issues/3
  flex-grow: 1;

  @supports ((display: grid) and (not (display: -ms-grid))) {
    max-width: none;
  }

  h4,
  p {
    margin-bottom: 0;
  }

  // IE11 doesn't respect flex-grow when widths are set which means we need a modifier.
  .apl-marker--range & {
    flex-basis: 47%;
    max-width: 47%;//explicit max-width for IE11 see https://github.com/philipwalton/flexbugs/issues/3

    @supports ((display: grid) and (not (display: -ms-grid))) {
      max-width: none;
    }
  }
}

.apl-marker__range {
  flex-basis: 38%;
  max-width: 38%;//explicit max-width for IE11 see https://github.com/philipwalton/flexbugs/issues/3
  margin-bottom: 0;
  padding: $measure $measure / 2;

  @supports ((display: grid) and (not (display: -ms-grid))) {
    max-width: none;
  }
}

.apl-marker__score {
  flex-basis: 30%;
  max-width: 30%;//explicit max-width for IE11 see https://github.com/philipwalton/flexbugs/issues/3
  margin-bottom: 0;
  padding: $measure / 2 $measure / 4;
  color: colour(neutral, pure-white);
  font-size: 1.5em;
  text-align: center;

  @supports ((display: grid) and (not (display: -ms-grid))) {
    max-width: none;
  }

  // IE11 doesn't respect flex-grow when widths are set which means we need a modifier.
  .apl-marker--range & {
    flex-basis: 15%;
    max-width: 15%;//explicit max-width for IE11 see https://github.com/philipwalton/flexbugs/issues/3

    @supports ((display: grid) and (not (display: -ms-grid))) {
      max-width: none;
    }
  }

  &--high {
    background-color: colour(highlight, red);
  }

  &--moderate {
    background-color: colour(highlight, amber);
  }

  &--low {
    background-color: colour(cxa, salem);
  }
}

.apl-marker__details {
  flex-basis: 100%;
  max-width: 100%;
  padding: 0;
  border: 0;
  background: colour(neutral, pure-white);
  border-bottom: 1px solid colour(neutral, lighter-grey);

  @supports ((display: grid) and (not (display: -ms-grid))) {
    max-width: none;
  }

  > p:first-child {
    margin: 0.5em 0;
  }
}

.apl-marker__graph {
  position: relative;
  padding-bottom: 50%;

  table {
    height: 200px;
  }

  th {
    text-align: right;
    vertical-align: middle;
    padding-left: 1em;
    line-height: 1;
  }

  td {
    width: 80%;
  }

  //force the SVG to stay inside it's flex container
  svg {
    position: absolute;
    top: 0;
    max-width: 100%;
  }
}

// eLibrary
.apl-library__wrapper {
  .cxa-grid__item--nine {
    @media screen and (min-width: $break-espresso) {
      grid-column-end: span 6;
    }

    @media screen and (min-width: $break-cafe-creme) {
      grid-column-end: span 9;
    }
  }
}

.apl-library__details {
  a {
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }

  p {
    font-size: 14px;
  }
}

// Pager

.apl-pager {
  list-style: none;
  margin: 0;
  text-align: center;

  li {
    display: inline-block;
    padding: $measure / 4;
  }

  &__current {
    font-family: $proxima-nova-semibold;
    color: colour(neutral, darkish-grey);
//    background-color: colour(neutral, darkish-grey);
  }
}

// Page Indicator

.apl-page-indicator {
  list-style: none;
  margin: 0 0 1rem;
  padding: 0;
  text-align: center;
  color: colour(neutral, mid-grey);

  li {
    font-size: 52px;
    line-height: 0.5;
    display: inline-block;
    padding: $measure / 4;
  }

  button {
    appearance: none;
    border: 0;
    background: transparent;
    padding: 0;
    color: colour(neutral, mid-grey);
    line-height: 0.5;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
  }

  &__current {
    color: colour(neutral, pure-black);
  }
}

// App store links

.apl-app-links {
  img {
    max-width: calc(50% - #{$measure} / 4);
  }

  a + a {
    margin-left: $measure / 2;
  }
}

// Claims

.apl-claims__selection {
  // go to full width until lungo break
  .cxa-grid__item--six {
    flex-basis: 100%;
    max-width: 100%; //explicit max-width for IE11 see https://github.com/philipwalton/flexbugs/issues/3

    @supports ((display: grid) and (not (display: -ms-grid))) {
      grid-column-end: span 12;
    }

    @media screen and (min-width: $break-lungo) {
      flex-basis: 50%;
      max-width: 50%; //explicit max-width for IE11 see https://github.com/philipwalton/flexbugs/issues/3

      @supports ((display: grid) and (not (display: -ms-grid))) {
        grid-column-end: span 6;
        max-width: 100%;
      }
    }
  }
}

.apl-grid--wrapped {
  // go to full width until lungo break
  .cxa-grid__item--six {
    flex-basis: 100%;
    max-width: 100%; //explicit max-width for IE11 see https://github.com/philipwalton/flexbugs/issues/3

    @supports ((display: grid) and (not (display: -ms-grid))) {
      grid-column-end: span 12;
    }

    @media screen and (min-width: $break-lungo) {
      flex-basis: 50%;
      max-width: 50%; //explicit max-width for IE11 see https://github.com/philipwalton/flexbugs/issues/3

      @supports ((display: grid) and (not (display: -ms-grid))) {
        grid-column-end: span 6;
        max-width: 100%;
      }
    }
  }
}

// Search

.apl-search__toolbar {
  @media screen and (min-width: $break-espresso) {
    position: absolute;
    top: 0;
    right: 0;
  }

  @media screen and (min-width: $break-cafe-creme) {
    position: static;
    top: 0;
    right: 0;
  }
}

// Scroll table

.apl-scroll-table {
  width: 100%;
  overflow: auto;
}

// Wellness
//------------------

//Questionnaire body part picker
.apl-body__frame {
  fill: colour(neutral, light-grey);
}

.apl-body__part {
  cursor: pointer;
  fill: colour(neutral, pure-white);

  &--selected {
    cursor: pointer;
    fill: colour(cxa, light-amaranth);
  }
}

.apl-body__selector {
  .cxa-grid__item--six {
    @media screen and (min-width: $break-espresso) {
      grid-column-end: span 6;
    }

    @media screen and (min-width: $break-doppio) {
      grid-column-end: span 2;
    }

    @media screen and (min-width: $break-cafe-creme) {
      grid-column-end: span 6;
    }
  }
}

// Dashboard

.apl-dashboard {
  .grid__item--eight {
    max-width: calc(66.666vw - 42px);
  }

  &__lifestyle {
    display: block;

    > * {
      display: flex;
    }
  }
}

.apl-photo {
  figure {
    float: right;
    max-width: 40%;
  }

  &__container {
    position: relative;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    height: 100%;
    width: 100%;
    padding: 5%;
    text-align: center;

    img {
      height: 100%;
    }
  }

  &__camera {
    background-color: colour(neutral, pure-black);
    position: relative;
    width: 100%;
    padding-bottom: 75%;

    video,
    .ReactCrop {
      position: absolute;
      height: auto;
      width: 100%;
    }

    .ReactCrop__image,
    .ReactCrop__image-copy {
      width: 100%;
      height: 100%;
    }
  }
}


//Table header for progress display type
.table-header-for-progress-display-type {
  max-width: 30px;
}

// // TODO: Refactor if needed
// // benefit default selection
// .panel__box {
//   border: 1px solid colour(neutral, light-grey);

//   &.panel__box--active {
//     border: 2px solid colour(neutral, pure-black);
//   }
// }

.hidden {
  visibility: hidden;

  &.block--hidden {
    display: none;
  }
}

.error {
  color: colour(highlight, light-red);
}

// Casper demos
//
// When Casper gets it's own home, this will be shifted elsewhere
//
// Do not use for anything other than demostrating code

.casper-demo {
  .cxa-grid__item {
    > * {
      background: colour(neutral, dark-grey);
      color: colour(neutral, pure-white);
      height: 5 * $measure;
      padding: $measure;
      font-size: $measure;
      text-align: center;
    }

    &:nth-child(even) > * {
      background: colour(neutral, light-grey);
      color: colour(neutral, dark-grey);
    }
  }
}

.casper-type__semi {
  font-family: $proxima-nova-semibold;
}

// Casper colour palette

.casper-palette {
  list-style: none;
  margin: 0;
  padding: 0;

  // this should probably use the grid but threw in columns for a quick and dirty fix
  column-count: 3;

  * span {
    display: block;
  }

  li {
    break-inside: avoid;
    margin-bottom: $measure / 2;
  }
}

.casper-palette__sample {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-block;
  border: 1px solid colour(neutral, light-grey);

  &--light-sushi {
    background: colour(cxa, light-sushi);
  }

  &--sushi {
    background: colour(cxa, sushi);
  }

  &--dark-sushi {
    background: colour(cxa, dark-sushi);
  }

  &--salem {
    background: colour(cxa, salem);
  }

  &--dark-salem {
    background: colour(cxa, dark-salem);
  }

  &--deep-salem {
    background: colour(cxa, deep-salem);
  }

  &--light-amaranth {
    background: colour(cxa, light-amaranth);
  }

  &--amaranth {
    background: colour(cxa, amaranth);
  }

  &--dark-amaranth {
    background: colour(cxa, dark-amaranth);
  }

  &--light-disco {
    background: colour(cxa, light-disco);
  }

  &--disco {
    background: colour(cxa, disco);
  }

  &--deep-disco {
    background: colour(cxa, deep-disco);
  }

  &--light-amber {
    background: colour(highlight, light-amber);
  }

  &--amber {
    background: colour(highlight, amber);
  }

  &--dark-amber {
    background: colour(highlight, dark-amber);
  }

  &--light-red {
    background: colour(highlight, light-red);
  }

  &--red {
    background: colour(highlight, red);
  }

  &--dark-red {
    background: colour(highlight, dark-red);
  }

  &--pure-black {
    background: colour(neutral, pure-black);
  }

  &--dark-grey {
    background: colour(neutral, dark-grey);
  }

  &--darkish-grey {
    background: colour(neutral, darkish-grey);
  }

  &--mid-grey {
    background: colour(neutral, mid-grey);
  }

  &--light-grey {
    background: colour(neutral, light-grey);
  }

  &--lightish-grey {
    background: colour(neutral, lightish-grey);
  }

  &--lighter-grey {
    background: colour(neutral, lighter-grey);
  }

  &--ultra-light-grey {
    background: colour(neutral, ultra-light-grey);
  }

  &--pure-white {
    background: colour(neutral, pure-white);
  }
}


// No-flex
// Support for non-flexbox browsers. Remove this once IE10 support is no longer required.
// Fall back to float
//.flexbox {
.no-flexbox {
  .lifestyle {
    &__photo {
      width: 100% * 2 / 10;
    }

    &__risk {
      width: 100% * 6 / 10;

      li {
        width: 20%;
      }
    }
  }

  .showcase__item {
    display: block;
  }

  // Ageing

  .ageing {
    @include clearfix();

    display: block;

    > * + * {
      margin-top: 0;
      margin-left: $measure;
    }

    section {
      float: left;
    }

    &__range {
      flex-grow: 0;
    }
  }

  .apl-marker {
    @include clearfix();
  }

  .apl-marker__description {
    float: left;
    width: 70%;

    .apl-marker--range & {
      width: 47%;
    }
  }

  .apl-marker__range {
    float: left;
    width: 38%;
    border-left: 1px solid colour(neutral, darkish-grey);
  }

  .apl-marker__score {
    float: left;
    width: 30%;
    border-left: 1px solid colour(neutral, darkish-grey);

    .apl-marker--range & {
      width: 15%;
    }
  }

  .apl-marker__details {
    clear: both;
    width: 100%;
  }
}

// Plan filter
.apl-plan__filter {
  margin-bottom: 15px;
}

.apl-notification {
  &__message {
    text-align: center;
  }
}

//============ My Points ===========
.point-number-big {
  font-size: 175%;
}

.point-number-mid {
  font-size: 125%;
}

.pie-container {
  display: flex;
  flex-direction: row;
}

.pie-container svg {
  flex: 1;
}

.pie-container > div {
  flex: 80px;
  margin-top: 40px;
}

.healthy-score {
  background-color: #DFF0D8;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0;
  
	>* {
		margin: 0;
	}

	div {
		margin-top: 1rem;
	}
	.healthy-percent {
		font-size: large;
		color: colour(cxa, amaranth);
  }
  .healthyscore-label {
    font-size: larger;
  }
  .healthyscore-number {
    font-size: 4em;
		font-weight: bold;
		color: colour(cxa, salem);
  }
}

.healthy-score-card {
  padding: 0;

  .healthy-score-oldstuff {
    padding: $measure;
    display: flex;

    >section {
      margin-right: 0.5rem;
      text-align: center;
    }
  }
}

.login-oauthlist {
  margin-top: 1rem;
  padding-top: 0.5rem;
  border-top: 1px solid colour(neutral, darkish-grey);

  display: flex;
  align-items: center;
  justify-content: center;

  img {
    margin: 0 0.5rem;
  }
}

